
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-phone-circled:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */