@media (max-width: 374px) {
  .ResumeBox {
    min-height: 86.1vh;
  }
}

@media (max-width: 1290px) {
  .ResumeBox {
    //86.1vh
    min-height: 87.7vh;
    font-size: 2.7vh;
  }
}

.ResumeBox {
  grid-area: resume;
  display: grid;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  grid-gap: 5px;
  //max-height: 80.7vh;
  grid-template-areas:
    "carousel generalInfo"
    "education education"
    "experience experience"
    "skills skills";
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 0fr 0fr 0fr 0fr;

  .ResumeBox__carouselDiv {
    width: 95%;
    grid-area: carousel;
  }

  .ResumeBox__generalInfo {
    grid-area: generalInfo;
  }

  .ResumeBox__education {
    grid-area: education;
  }

  .ResumeBox__experience {
    grid-area: experience;
  }

  .ResumeBox__skills {
    grid-area: skills;
  }
}