@media (max-width: 376px) {
  .FormBlock {

    .FormBlock__lableSpan {
      font-size: 1.3vh;
    }
    .FormBlock__infoSpan {
      font-size: 1.3vh;
    }
  }
  ul {
    font-size: 1.3vh;
  }

  .BigLableElements{
    font-size: 1.8vh;
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 1290px) {
  .FormBlock {
    margin: 0 0 0 10px;
  }
}

.FormBlock {
  font-family: "Times New Roman";
  .FormBlock__lableSpan {
    font-weight: 900;
    text-decoration: underline;
  }

  .FormBlock__infoSpan {
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
  }
}

h3{
  margin: 17px 10px 0px 10px;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 0px 0px 5px;
}