@media (max-width: 768px) {
  .PortfolioBox {
    & div{
      width: 17vh;
    }
  }
}

@media (max-width: 1290px) {
  .PortfolioBox{
    min-height: 86.1vh;
  }
}

.PortfolioBox {
  max-height: 80.7vh;
  grid-area: home;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  //border: 1px solid white;
  //height: 86vh;
  text-align: center;
}