@media (max-width: 768px) {

}

.Wrapper{
  width: 100%;
  overflow: auto;
  color: white;
  grid-area: wrapperBox;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  & h2 {
    margin: 0;
  }
}