@media (max-width: 768px) {
  .IconsBox {
    margin: 0;
    & div {
      & i {
        font-size: 1.8vh;
      }
      & a {
        & i {
          font-size: 1.8vh;
        }
      }
    }
  }
}

.ContactsBox {
  min-height: 80.7vh;
  //background-color: rgba(0, 0, 0, 0.5);
}

.IconsBox {

}
