@media (max-width: 1290px) {
  .HomeBox{
    min-height: 87.7vh;

  }
}

.HomeBox{
  //max-height: 86.1vh;
  max-height: 80.7vh;
  margin: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  & h1 {
    margin: 0;
  }
}
//.ImageBlock{
//  //border: 1px solid white;
//  //height: 86vh;
//}